<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body>
    <header>
        <h1 id="titulo">{{nomelista}}</h1>

        <form class="formulario" action="/nova" method="POST">
            <label for="item">Nova tarefa:</label>
            <input type="text" name="item" id="item">
            <button type="submit">Adicionar</button>
        </form>
    </header>
    <section>
        <ul>
            {% for item in itens %}
            <li> {{item}}</li>
            {% endfor %}
        </ul>
    </section>
</body>
</html>
